<!DOCTYPE html>
<html>
	<head>
		<title>leakedsource, but like.. free...</title>
	</head>

	<body>
		<center>
			<p>made by obnoxious, im gay && only good dbs will be in here, no fucking retarded myspace or fucking TUMBLR.</p>
			<p>if you have any GOOD high hit-rate DBS hmu to get them added</p>
			<p>i run this on a really small server.... LIKE REALLY SMALL.. so yea.... hmu if u wanna buy me 110USD one</p>
			<p><b>PASSWORD SEARCHING WONT WORK UNTIL I BUILD THE INDEX FOR IT AKA TONIGHT</b></p>
			<p>planned features: wildcard searching (attempted && failed, work in progress)</p>
			<p>records: 414m~</p>
			<p>dbs: 	linkedin
						dropbox
						solomid
						xsplit
						000webhost
						NGU
						neopets
						leetcc
						lifeboat
						vbulletin
						kimsufi
						mpgh
						malware twitter
						lastfm</p>
			<p>HMU IF U HAVE ANY OF THESE: nulled.to (need a parsed version cuz im lazy)

				evony
				btctalk
				HoN
				funimation
				furaffinity
				warframe
				lizardsquad
				botoflegends
				Xbox360ISO
				PSPISO
				OwnedCore
				BTC-E
				WIIuISO
				game-tuts</p>
			<form action="/" method="GET">
				<input type="text" name="username" placeholder="username"/><br/>
				<input type="text" name="email" placeholder="email"/><br/>
				<input type="text" name="ip" placeholder="ip"/><br/>
				<input type="submit" value="search">
			</form>
			<br/>
			<p><b><u>results</u></b></p>
			<p>{{ data | safe }}</p>
		</center>
	</body>
</html>
