<!DOCTYPE html>
<html>
	<head>
		<title>leakedsource, but like.. free...</title>
	</head>

	<body>
		<center>
			<p>made by obnoxious, please kill yourself.</p>
			<form action="/" method="GET">
				<input type="text" name="username" placeholder="username"/><br/>
				<input type="text" name="email" placeholder="email"/><br/>
				<input type="text" name="ip" placeholder="ip"/><br/>
				<input type="submit" value="endmylife!!!">
			</form>
			<br/>
			<p><b><u>results</u></b></p>
			<p>{{ data | safe }}</p>
		</center>
	</body>
</html>